Write a Pandas program to compare the elements of two Pandas series. 
Sample Series [4,65,436,3,9], [7,0,3,897,9]

In [6]:
import pandas as pd

In [7]:
s1 = pd.Series([4,65,436,3,9])
s2 = pd.Series([7,0,3,897,9])

# Comparing two series using == operator
comparison = s1 == s2
# Print the result
print(comparison)

0    False
1    False
2    False
3    False
4     True
dtype: bool

Write a Pandas program to add, subtract, multiply and divide two Pandas series. 
Sample Series: [2,4,6,8,14], [1,3,5,7,9]

In [8]:
s1 = pd.Series([2, 4, 6, 8, 14])
s2 = pd.Series([1, 3, 5, 7, 9])

# Add the two series
sum_series = s1 + s2
print("Sum:", sum_series)

# Subtract the two series
difference_series = s1 - s2
print("Difference:", difference_series)

# Multiply the two series (element-wise multiplication)
product_series = s1 * s2
print("Product:", product_series)

# Divide the two series (element-wise division with caution for division by zero)
division_series = s1 / s2
print("Division:", division_series)

# Handle division by zero using fill_value
safe_division_series = s1.div(s2, fill_value=0)
print("Safe Division (filling 0 for division by zero):", safe_division_series)

Sum: 0     3
1     7
2    11
3    15
4    23
dtype: int64
Difference: 0    1
1    1
2    1
3    1
4    5
dtype: int64
Product: 0      2
1     12
2     30
3     56
4    126
dtype: int64
Division: 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64
Safe Division (filling 0 for division by zero): 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

Write a Pandas program to convert a dictionary to a Pandas series. 
Sample dictionary: dictionary1 = {‘Josh’: 24, ‘Sam’: 36, ‘Peace’: 19, ‘Charles’: 65, ‘Tom’: 44}

In [9]:
dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}

# Convert dictionary to Series
data_series = pd.Series(dictionary1)

# Print the Series
print(data_series)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

Write a Pandas program to convert a given series to an array.
Sample series: [‘Love’, 800, ‘Joy’, 789.9, ‘Peace’, True]

In [10]:
data_series = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])

# Convert Series to NumPy array
data_array = data_series.to_numpy()

# Print the array
print(data_array)

['Love' 800 'Joy' 789.9 'Peace' True]

Write a Pandas program to display the most frequent value in the given series and replace everything else as ‘Other’ in the series. (Use the ‘HomeTeamGoals’ column in the dataset provided)

Write a Pandas program to read the given csv file.

In [13]:
df = pd.read_csv('AfricaCupofNationsMatches.csv')

In [14]:
home_team_goals_series = df['HomeTeamGoals']

# Find the most frequent value
most_frequent_goal = home_team_goals_series.mode()[0]

# Replace other values with 'Other'
modified_series = home_team_goals_series.replace(
    to_replace=[val for val in home_team_goals_series if val != most_frequent_goal],
    value='Other'
)

# Display the modified series (or perform further analysis)
print(modified_series)

0        1.0
1      Other
2      Other
3      Other
4        1.0
       ...
617    Other
618      1.0
619    Other
620    Other
621    Other
Name: HomeTeamGoals, Length: 622, dtype: object

Write a Pandas program to get the first 7 rows of your data frame.

In [15]:
first_seven_rows = df.head(7)

# Print the first 7 rows (optional)
print(first_seven_rows)

   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59   NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62   NaN  Ethiopia         Tunisia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0

Write a Pandas program to select the ‘HomeTeam’, ‘AwayTeam’, ‘HomeTeamGoals’ and ‘AwayTeamGoals’ columns from your data frame.

In [16]:
selected_columns = ['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']
selected_df = df[selected_columns]

# Print the selected columns (optional)
print(selected_df)

        HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt            1.0            2.0
1      Ethiopia    South Africa            NaN            NaN
2         Egypt        Ethiopia            4.0            0.0
3          Egypt       Ethiopia            4.0            0.0
4         Sudan        Ethiopia            1.0            0.0
..           ...            ...            ...            ...
617  Madagascar         Tunisia            0.0            3.0
618     Senegal         Tunisia            1.0            0.0
619     Algeria         Nigeria            2.0            1.0
620     Tunisia         Nigeria            0.0            1.0
621     Senegal         Algeria            0.0            1.0

[622 rows x 4 columns]

Write a Pandas program to select the rows where Egypt appears.

In [17]:
egypt_rows = df[df['HomeTeam'].str.contains('Egypt', case=False) | df['AwayTeam'].str.contains('Egypt', case=False)]

print(egypt_rows)

     Year                         Date   Time  HomeTeam       AwayTeam  \
0    1957                     10-Feb-57    NaN   Sudan           Egypt
2    1957                     16-Feb-57    NaN   Egypt        Ethiopia
3    1959                     22-May-59    NaN    Egypt       Ethiopia
5    1959                     29-May-59    NaN    Egypt          Sudan
7    1962                     18-Jan-62    NaN    Egypt         Uganda
..    ...                           ...    ...      ...            ...
569  2017  5 February 2017 (2017-02-05)  20:00   Egypt        Cameroon
570  2019     21 June 2019 (2019-06-21)  22:00   Egypt        Zimbabwe
573  2019     26 June 2019 (2019-06-26)  22:00   Egypt        DR Congo
574  2019     30 June 2019 (2019-06-30)  21:00  Uganda           Egypt
609  2019      6 July 2019 (2019-07-06)  21:00   Egypt    South Africa

     HomeTeamGoals  AwayTeamGoals             Stage SpecialWinConditions  \
0              1.0            2.0        Semifinals                  NaN
2              4.0            0.0             Final                  NaN
3              4.0            0.0  Final Tournament                  NaN
5              2.0            1.0  Final Tournament                  NaN
7              2.0            1.0        Semifinals                  NaN
..             ...            ...               ...                  ...
569            1.0            2.0             Final                  NaN
570            1.0            0.0           Group A                  NaN
573            2.0            0.0           Group A                  NaN
574            0.0            2.0           Group A                  NaN
609            0.0            1.0       Round of 16                  NaN

                         Stadium          City  Attendance
0              Municipal Stadium      Khartoum     30000.0
2              Municipal Stadium      Khartoum     30000.0
3          Prince Farouk Stadium         Cairo     30000.0
5          Prince Farouk Stadium         Cairo     30000.0
7         Hailé Sélassié Stadium   Addis Ababa     30000.0
..                           ...           ...         ...
569            Stade de l'Amitié    Libreville         NaN
570  Cairo International Stadium         Cairo     73299.0
573  Cairo International Stadium         Cairo     74219.0
574  Cairo International Stadium         Cairo     74566.0
609  Cairo International Stadium         Cairo     75000.0

[95 rows x 12 columns]

Write a Pandas program to count the number of rows and columns of your data frame.

In [18]:
# Get the number of rows and columns using the shape attribute
num_rows, num_cols = df.shape

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_cols}")

Number of rows: 622
Number of columns: 12

Write a Pandas program to select the rows where the ‘Attendance’ is missing.

In [19]:
# Select rows where 'Attendance' is missing using isnull()
missing_attendance = df[df['Attendance'].isna()]
print(missing_attendance)

     Year                         Date   Time        HomeTeam       AwayTeam  \
1    1957                     10-Feb-57    NaN      Ethiopia    South Africa
8    1962                     20-Jan-62    NaN       Tunisia          Uganda
9    1962                     21-Jan-62    NaN      Ethiopia           Egypt
10   1963                     24-Nov-63    NaN         Ghana         Tunisia
11   1963                     26-Nov-63    NaN         Ghana        Ethiopia
..    ...                           ...    ...            ...            ...
565  2017  29 January 2017 (2017-01-29)  20:00         Egypt         Morocco
566  2017  1 February 2017 (2017-02-01)  20:00  Burkina Faso           Egypt
567  2017  2 February 2017 (2017-02-02)  20:00      Cameroon           Ghana
568  2017  4 February 2017 (2017-02-04)  20:00  Burkina Faso           Ghana
569  2017  5 February 2017 (2017-02-05)  20:00         Egypt        Cameroon

     HomeTeamGoals  AwayTeamGoals                 Stage  \
1              NaN            NaN            Semifinals
8              3.0            0.0     Third place match
9              4.0            2.0                 Final
10             1.0            1.0               Group A
11             2.0            0.0               Group A
..             ...            ...                   ...
565            1.0            0.0        Quarter-finals
566            1.0            1.0           Semi-finals
567            2.0            0.0           Semi-finals
568            1.0            0.0  Third place play-off
569            1.0            2.0                 Final

                                  SpecialWinConditions  \
1    Ethiopia  wins due to disqualification of othe...
8                                                  NaN
9                                win after extra time
10                                                 NaN
11                                                 NaN
..                                                 ...
565                                                NaN
566                        Egypt win on Penalities 3-4
567                                                NaN
568                                                NaN
569                                                NaN

                    Stadium          City  Attendance
1                       NaN           NaN         NaN
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
10     Accra Sports Stadium         Accra         NaN
11     Accra Sports Stadium         Accra         NaN
..                      ...           ...         ...
565    Stade de Port-Gentil   Port-Gentil         NaN
566       Stade de l'Amitié    Libreville         NaN
567    Stade de Franceville   Franceville         NaN
568    Stade de Port-Gentil   Port-Gentil         NaN
569       Stade de l'Amitié    Libreville         NaN

[100 rows x 12 columns]

Write a Pandas program to select the rows where the ‘HomeTeamGoals’ are between 3 and 6 inclusive.

In [20]:
between_goals = df[(df['HomeTeamGoals'] >= 3) & (df['HomeTeamGoals'] <= 6)]

print(between_goals)

     Year                         Date   Time    HomeTeam     AwayTeam  \
2    1957                     16-Feb-57    NaN     Egypt      Ethiopia
3    1959                     22-May-59    NaN      Egypt     Ethiopia
6    1962                     14-Jan-62    NaN  Ethiopia       Tunisia
8    1962                     20-Jan-62    NaN   Tunisia        Uganda
9    1962                     21-Jan-62    NaN  Ethiopia         Egypt
..    ...                           ...    ...        ...          ...
553  2017  20 January 2017 (2017-01-20)  20:00   Morocco          Togo
585  2019     27 June 2019 (2019-06-27)  22:00     Kenya      Tanzania
595  2019     24 June 2019 (2019-06-24)  22:00      Mali    Mauritania
608  2019      6 July 2019 (2019-07-06)  18:00   Nigeria      Cameroon
611  2019      7 July 2019 (2019-07-07)  21:00   Algeria        Guinea

     HomeTeamGoals  AwayTeamGoals              Stage    SpecialWinConditions  \
2              4.0            0.0              Final                     NaN
3              4.0            0.0   Final Tournament                     NaN
6              4.0            2.0         Semifinals                     NaN
8              3.0            0.0  Third place match                     NaN
9              4.0            2.0              Final   win after extra time
..             ...            ...                ...                     ...
553            3.0            1.0            Group C                     NaN
585            3.0            2.0            Group C                     NaN
595            4.0            1.0            Group E                     NaN
608            3.0            2.0        Round of 16                     NaN
611            3.0            0.0        Round of 16                     NaN

                    Stadium          City  Attendance
2         Municipal Stadium      Khartoum     30000.0
3     Prince Farouk Stadium         Cairo     30000.0
6    Hailé Sélassié Stadium   Addis Ababa     30000.0
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
..                      ...           ...         ...
553            Stade d'Oyem          Oyem         NaN
585         30 June Stadium         Cairo      7233.0
595            Suez Stadium          Suez      6202.0
608      Alexandria Stadium    Alexandria     10000.0
611         30 June Stadium         Cairo      8205.0

[138 rows x 12 columns]

Write a Pandas program to change the “AwayTeamGoals” in the 3rd row to 10.

In [21]:
df.iloc[2, df.columns.get_loc('AwayTeamGoals')] = 10

print(df)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance
0              Municipal Stadium   Khartoum     30000.0
1                            NaN        NaN         NaN
2              Municipal Stadium   Khartoum     30000.0
3          Prince Farouk Stadium      Cairo     30000.0
4          Prince Farouk Stadium      Cairo     20000.0
..                           ...        ...         ...
617             Al Salam Stadium      Cairo      7568.0
618              30 June Stadium      Cairo      9143.0
619  Cairo International Stadium      Cairo     49775.0
620             Al Salam Stadium      Cairo      6340.0
621  Cairo International Stadium      Cairo     75000.0

[622 rows x 12 columns]

Write a Pandas program to sort the DataFrame first by ‘HomeTeam’ in ascending order, then by ‘HomeTeamScores’ in descending order.

In [22]:
sorted_df = df.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])

print(sorted_df)

     Year                         Date           Time    HomeTeam  \
205  1990                      2-Mar-90            NaN   Algeria
29   1968                     14-Jan-68            NaN   Algeria
135  1980                     16-Mar-80            NaN   Algeria
164  1984                      5-Mar-84            NaN   Algeria
171  1984                     17-Mar-84            NaN   Algeria
..    ...                           ...            ...        ...
521  2012                     12-Feb-12  20:30[note 1]    Zambia
549  2017  23 January 2017 (2017-01-23)          20:00  Zimbabwe
398  2004                     25-Jan-04          16:30  Zimbabwe
437  2006                     23-Jan-06          20:00  Zimbabwe
575  2019     30 June 2019 (2019-06-30)          21:00  Zimbabwe

         AwayTeam  HomeTeamGoals  AwayTeamGoals              Stage  \
205       Nigeria            5.0            1.0            Group A
29         Uganda            4.0            0.0            Group A
135        Guinea            3.0            2.0            Group B
164        Malawi            3.0            0.0            Group B
171         Egypt            3.0            1.0  Third place match
..            ...            ...            ...                ...
521   Ivory Coast            0.0            0.0              Final
549       Tunisia            2.0            4.0            Group B
398         Egypt            1.0            2.0            Group C
437       Senegal            0.0            2.0            Group D
575      DR Congo            0.0            4.0            Group A

              SpecialWinConditions                       Stadium  \
205                            NaN          Stade 5 Juillet 1962
29                             NaN        Hailé Sélassié Stadium
135                            NaN               Liberty Stadium
164                            NaN                  Stade Bouaké
171                            NaN  Stade Félix Houphouët-Boigny
..                             ...                           ...
521  Zambia  win on Penalities 8-7              Stade d'Angondjé
549                            NaN             Stade de l'Amitié
398                            NaN          Stade Taïeb El Mhiri
437                            NaN             Port Said Stadium
575                            NaN               30 June Stadium

             City  Attendance
205       Algiers     85000.0
29    Addis Ababa     25000.0
135        Ibadan     20000.0
164        Bouaké     10000.0
171       Abidjan       500.0
..            ...         ...
521    Libreville     40000.0
549    Libreville         NaN
398          Sfax     22000.0
437     Port Said     15000.0
575         Cairo      4364.0

[622 rows x 12 columns]

Write a Pandas program to get list from DataFrame column headers.

In [23]:
column_list = df.columns.tolist()

print(column_list)

['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

Write a Pandas program to append a column of your choice to your DataFrame.

In [24]:
new_column_name = 'Result'
new_column_data = ['Win' if score1 > score2 else 'Loss' for score1, score2 in zip(df['HomeTeamGoals'], df['AwayTeamGoals'])]

# Assign the new column to the DataFrame
df[new_column_name] = new_column_data

print(df)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance Result
0              Municipal Stadium   Khartoum     30000.0   Loss
1                            NaN        NaN         NaN   Loss
2              Municipal Stadium   Khartoum     30000.0   Loss
3          Prince Farouk Stadium      Cairo     30000.0    Win
4          Prince Farouk Stadium      Cairo     20000.0    Win
..                           ...        ...         ...    ...
617             Al Salam Stadium      Cairo      7568.0   Loss
618              30 June Stadium      Cairo      9143.0    Win
619  Cairo International Stadium      Cairo     49775.0    Win
620             Al Salam Stadium      Cairo      6340.0   Loss
621  Cairo International Stadium      Cairo     75000.0   Loss

[622 rows x 13 columns]

Write a Pandas program to add 2 rows to your DataFrame.

In [38]:
new_rows = [
    {'HomeTeam': 'NewTeam1', 'AwayTeam': 'NewTeam2', 'HomeTeamGoals': 7, 'AwayTeamGoals': 3},
    {'HomeTeam': 'NewTeam3', 'AwayTeam': 'NewTeam4', 'HomeTeamGoals': 1, 'AwayTeamGoals': 5}
]

# Append the new rows to the DataFrame using concat
df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)

# Print the DataFrame with the added rows
print(df)

     Country  AwayTeam  HomeTeam  HomeTeamGoals  AwayTeamGoals
0    Nigeria     Ghana       NaN            NaN            NaN
1      Egypt   Senegal       NaN            NaN            NaN
2      China   Nigeria       NaN            NaN            NaN
3  S. Africa  Zimbabwe       NaN            NaN            NaN
4        NaN  NewTeam2  NewTeam1            7.0            3.0
5        NaN  NewTeam4  NewTeam3            1.0            5.0

Write a Pandas program to change the country ‘Uganda’ to ‘China’ in the ‘AwayTeam’ column of the DataFrame.

In [39]:
df = pd.DataFrame({
    'Country': ['Nigeria', 'Egypt', 'Uganda', 'S. Africa'],
    'AwayTeam': ['Ghana', 'Senegal', 'Nigeria', 'Zimbabwe']
})

# Replace 'Uganda' with 'China' in the 'Country' column
df['Country'] = df['Country'].replace('Uganda', 'China')

print(df)

     Country  AwayTeam
0    Nigeria     Ghana
1      Egypt   Senegal
2      China   Nigeria
3  S. Africa  Zimbabwe

Write a Pandas program to reset index in your DataFrame.

In [41]:

df = pd.DataFrame({
    'Country': ['Nigeria', 'Egypt', 'Uganda', 'S. Africa'],
    'AwayTeam': ['Ghana', 'Senegal', 'Nigeria', 'Zimbabwe']
})

# Reset the index
df_reset = df.reset_index(drop=True)

print(df_reset)

     Country  AwayTeam
0    Nigeria     Ghana
1      Egypt   Senegal
2     Uganda   Nigeria
3  S. Africa  Zimbabwe

Write a Pandas program to check whether the ‘Stadium’ column is present in your DataFrame or not.

In [42]:

df = pd.DataFrame({
    'Country': ['Nigeria', 'Egypt', 'Uganda', 'S. Africa'],
    'AwayTeam': ['Ghana', 'Senegal', 'Nigeria', 'Zimbabwe']
})

# Check if 'Stadium' column is present
if 'Stadium' in df.columns:
    print("'Stadium' column is present in the DataFrame.")
else:
    print("'Stadium' column is not present in the DataFrame.")

'Stadium' column is not present in the DataFrame.

Write a Pandas program to convert the datatype of the ‘AwayTeamGoals’. (int to float)

In [43]:

df = pd.DataFrame({
    'Country': ['Nigeria', 'Egypt', 'Uganda', 'S. Africa'],
    'AwayTeam': ['Ghana', 'Senegal', 'Nigeria', 'Zimbabwe'],
    'AwayTeamGoals': [1, 2, 0, 3]
})

# Convert 'AwayTeamGoals' from int to float
df['AwayTeamGoals'] = df['AwayTeamGoals'].astype(float)

print(df)

     Country  AwayTeam  AwayTeamGoals
0    Nigeria     Ghana            1.0
1      Egypt   Senegal            2.0
2     Uganda   Nigeria            0.0
3  S. Africa  Zimbabwe            3.0

Write a Pandas program to remove the last 10 rows from your DataFrame.

In [46]:
df = pd.DataFrame({
    'Country': ['Nigeria', 'Egypt', 'Uganda', 'S. Africa', 'Ghana', 'Senegal', 'Nigeria', 'Zimbabwe', 'Kenya', 'Algeria', 'Morocco', 'Cameroon'],
    'AwayTeam': ['Ghana', 'Senegal', 'Nigeria', 'Zimbabwe', 'Egypt', 'Uganda', 'S. Africa', 'Ghana', 'Senegal', 'Nigeria', 'Zimbabwe', 'Kenya'],
    'AwayTeamGoals': [1, 2, 0, 3, 2, 0, 3, 1, 2, 0, 3, 1]
})

# Remove the last 10 rows
df_trimmed = df[:-10]

print(df_trimmed)

   Country AwayTeam  AwayTeamGoals
0  Nigeria    Ghana              1
1    Egypt  Senegal              2

Write a Pandas program to iterate over rows in your DataFrame.

In [47]:
df = pd.DataFrame({
    'Country': ['Nigeria', 'Egypt', 'Uganda', 'S. Africa'],
    'AwayTeam': ['Ghana', 'Senegal', 'Nigeria', 'Zimbabwe'],
    'AwayTeamGoals': [1, 2, 0, 3]
})

# Iterate over rows using iterrows()
for index, row in df.iterrows():
    print(f"Index: {index}")
    print(f"Country: {row['Country']}, AwayTeam: {row['AwayTeam']}, AwayTeamGoals: {row['AwayTeamGoals']}")
    print("---")

Index: 0
Country: Nigeria, AwayTeam: Ghana, AwayTeamGoals: 1
---
Index: 1
Country: Egypt, AwayTeam: Senegal, AwayTeamGoals: 2
---
Index: 2
Country: Uganda, AwayTeam: Nigeria, AwayTeamGoals: 0
---
Index: 3
Country: S. Africa, AwayTeam: Zimbabwe, AwayTeamGoals: 3
---

Write a Pandas program to change the order of your DataFrame columns.

In [48]:
df = pd.DataFrame({'Country': ['Nigeria', 'Egypt', 'Uganda', 'South Africa'],
                   'AwayTeam': ['Ghana', 'Senegal', 'Nigeria', 'Zimbabwe'],
                   'GoalsScored': [2, 1, 0, 3]})

# Reorder columns using .reindex()
df = df.reindex(columns= ['Country', 'GoalsScored', 'AwayTeam'])

# Print the DataFrame with reordered columns
print(df)

        Country  GoalsScored  AwayTeam
0       Nigeria            2     Ghana
1         Egypt            1   Senegal
2        Uganda            0   Nigeria
3  South Africa            3  Zimbabwe

Write a Pandas program to delete DataFrame row(s) whose value is 0 in the ‘HomeTeamGoals’ columns.

In [49]:
df = pd.DataFrame({'Country': ['Nigeria', 'Egypt', 'Uganda', 'South Africa'],
                   'HomeTeamGoals': [2, 0, 1, 3],
                   'AwayTeamGoals': [1, 4, 0, 2]})

# Drop rows where HomeTeamGoals is 0
df = df.query('HomeTeamGoals > 0')  # Using query for readability (alternative: df[df['HomeTeamGoals'] > 0])

# Print the DataFrame after dropping rows
print(df)

        Country  HomeTeamGoals  AwayTeamGoals
0       Nigeria              2              1
2        Uganda              1              0
3  South Africa              3              2